<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Contact Management</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href='https://fonts.googleapis.com/css?family=Roboto|Open+Sans:400,700' rel='stylesheet' type='text/css'>
<link rel='shortcut icon' href='favicon.ico' type='image/x-icon'/>
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/styles.css">
<!--[if lt IE 7]>
<script type="text/javascript" src="js/lte-ie7.js"></script>
<![endif]-->
<script src="js/lib/modernizr-2.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
<script src="js/lib/angular-route.min.js"></script>
<script src="js/lib/angular-local-storage.min.js"></script>
<script src="app.js"></script>
<script src="js/controllers.js"></script>
<script src="js/services.js"></script>
</head>
<body ng-app="contactApp">
<div class="container-fluid" ng-controller="contactCtrl">

  <header class="row">
  <!-- Header Panel -->
  <div class="col-md-12">
    <h2><a href="#/">My Contacts</a></h2>
  </div>
</header>

  <!-- Content -->
  <div class="row">
    <div class="col-md-4">
      <div class="btn-holder clearfix">
        <a href="#/add" ng-click="reset()" type="button" class="btn btn-primary btn-lg pull-right">+ New</a>
      </div>

      <!-- Contact List -->
      <div class="list-holder clearfix">
      <ul class="list-group">
        <li class="list-group-item clearfix" ng-repeat="contact in contactList | orderBy : 'firstName'">
          <a ng-href="#/{{contact.id}}" class="pull-left">{{contact.firstName}} {{contact.lastName}}</a>

        <!-- Delete Button -->
         <a ng-click="deleteContact(contact.id)" class="btn btn-danger btn-sm pull-right m-l-10">Delete</a>

         <!-- Edit Button -->
        <a ng-href="#/edit/{{contact.id}}" ng-click="editPage(contact)"  class="btn btn-info btn-sm pull-right">Edit</a>
        </li>
       </ul>
    </div>
    </div>
    <div class="col-md-8">
     <div ng-view></div>
    </div>
  </div>

  <footer>
    Footer
  </footer>
  </div>

</body>
</html>